h1{
color:white;font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}
img{
    float:left;
}
body{
    color:white;font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;font-size:medium;
}
p{
    margin-left:20px;
}

  
  @keyframes ScreenEffect {
    0% { opacity: 0 }
    50% { opacity: 1 }
    100% { opacity: 0 }
  }
  
  .Pulse {
    animation: Pulse 1.5s ease infinite;
  }
  
  @keyframes Pulse {
    0% { opacity: 0 }
    50% { opacity: 1 }
    100% { opacity: 0 }
  }
  
  .DivClass {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    padding: 5% 5% 5% 5%;
  }
  
  .MatrixTextEffect {
    color: rgba(125,225,125,0.75);
    font-family: 'VT323', monospace;
    font-size: 25px;
    text-shadow: 0 0 5px rgba(125,225,125,0.5), 0 0 15px rgba(125,250,125,1);
  }
  button{
 background-color:#000f0f;color:rgba(125,225,125,0.75);border-radius:10px;font-size:larger;font-family: 'VT323', monospace;
  }
  
